<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <header class="App-header">
            <p>
                Welcome to the new PAV-RP Map info page!
            </p>
            <p class="small">
               This website will dinamicly update as new map verions come out!
            </p>
        </header>
        <script>
            window.alert(New update soon!)
        </script>
    </div>
</body>

</html>
